#play-overlay {
  background-color: rgb(146, 146, 146);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  place-content: center;
  align-items: center;
  cursor: pointer;
}

#error-overlay {
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  place-content: center;
  align-items: center
}

#controls-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.buttonOn {
  opacity: 1;
}

.buttonOff {
  opacity: 0.5;
}

#controls-overlay button {
  transition: all 0.25s;
  border: none; 
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: flex;
  padding: 6px;
}

#controls-overlay button:hover {
  opacity: 0.8;
}

#controls-overlay button:active {
  transform: scale(0.95);
}